 

graph{
    fill-color:#4286f4;
}

node { 
    shape: box; 
    size:70px;
    fill-color: #54f7a8; 
    stroke-mode: plain; 
    stroke-color: #333; 
    size:30px; 
} 
edge { fill-color: #333; }
    
    node.ID{
        fill-color:green;        
    }